---
import full_1 from '../assets/fulls/01.jpg';
import full_2 from '../assets/fulls/02.jpg';
import full_3 from '../assets/fulls/03.png';
import full_4 from '../assets/fulls/04.jpg';
import full_5 from '../assets/fulls/05.jpg';
import full_6 from '../assets/fulls/06.jpg';

import th_1 from '../assets/thumbs/01.jpg';
import th_2 from '../assets/thumbs/02.jpg';
import th_3 from '../assets/thumbs/03.jpg';
import th_4 from '../assets/thumbs/04.jpg';
import th_5 from '../assets/thumbs/05.jpg';
import th_6 from '../assets/thumbs/06.jpg';
---

<!-- Two -->
<section id="two">
	<h2>Conheça nossa clinica</h2>
	<div class="row">
		<article class="col-6 col-12-xsmall work-item">
			<a href={full_1} class="image fit thumb"><img src={th_1} alt="" /></a>
			<h3>Limpeza Dental:</h3>
			<p>Remoção de placa bacteriana e tártaro para prevenir cáries e doenças gengivais.</p>
		</article>

		<article class="col-6 col-12-xsmall work-item">
			<a href={full_2} class="image fit thumb"><img src={th_2} alt="" /></a>
			<h3>Restaurções</h3>
			<p> Tratamento de cáries com resinas compostas ou amálgama.</p>
		</article>

		<article class="col-6 col-12-xsmall work-item">
			
			<h3>Tratamento de Canal:</h3>
			<p>Remoção da polpa dental infeccionada e preenchimento do canal radicular.</p>
		</article>

		<article class="col-6 col-12-xsmall work-item">
			<a href={full_4} class="image fit thumb"><img src={th_4} alt="" /></a>
			<h3>Aparelhos Fixos: </h3>
			<p>Correção de dentes e mandíbulas desalinhados.</p>
		</article>

		<article class="col-6 col-12-xsmall work-item">
			<a href={full_5} class="image fit thumb"><img src={th_5} alt="" /></a>
			<h3>Aparelhos Móveis</h3>
			<p>Usados para corrigir problemas ortodônticos leves.</p>
		</article>

		<article class="col-6 col-12-xsmall work-item">
			<a href={full_6} class="image fit thumb"><img src={th_6} alt="" /></a>
			<h3>Tratamento de Gengivite</h3>
			<p>Tratamento de inflamação das gengivas.</p>
		</article>
</section>
